---
layout: page
title: サイトマップ
description: 当サイトの記事をカテゴリ別・タグ別にまとめたページ．
custom_css: sitemap
permalink: /sitemap/
---

{% comment %}
<!--
- Create an empty array.
- Obtain a tag name and push it to the array.
- Sort the tag names.
- List tags as a tag cloud.
Reference: https://qiita.com/mnishiguchi/items/fa1e8fd2e893ea801ce8
-->
{% endcomment %}

{% assign tag_names = "" | split: "|"  %}

{% for posts_by_tag in site.tags %}
  {% assign tag_names = tag_names | push: posts_by_tag.first %}
{% endfor %}

{% assign tag_names = tag_names | sort %}

{% include tag_cloud.html tag_names=tag_names %}

<hr style="border: none; border-top: 2px dashed;" />

<section class="sitemap">
  {% for tag_name in tag_names %}
    <h3 id="{{ tag_name }}">
      {{ tag_name | eplace: "_", " " }}
    </h3>
    
    <ul>
      {% for post in site.tags[tag_name] %}
        <li>
          <a href="{{ post.url | prepend: baseurl }}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>