---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans CJK JP DemiLight'),
       local('NotoSansCJKjp-DemiLight'),
       local('NotoSansJP-DemiLight'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-DemiLight.woff2') format('woff2'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-DemiLight.woff') format('woff'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-DemiLight.ttf')  format('truetype'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-DemiLight.eot') format('embedded-opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: bold;
  src: local('Noto Sans CJK JP Bold'),
       local('NotoSansCJKjp-Bold'),
       local('NotoSansJP-Bold'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-Bold.woff2') format('woff2'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-Bold.woff') format('woff'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-Bold.ttf')  format('truetype'),
    url('/resources/fonts/Noto-Sans/NotoSansCJKjp-Bold.eot') format('embedded-opentype');
    font-display: swap;
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 16px $yugothic;
  background: $white;
  font-weight: 300;
  color: $darkGray;
  // 文字間隔の調整の設定
  letter-spacing: .5px;
  // 行間の設定
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.head_container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.5;
  }
}

h1 {
  font-size: 26px;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: 22px;
  }
}

h2 {
  font-size: 22px;

  @include mobile {
    font-size: 20px;
  }
}

.post h2 {
  border-left: 6px solid $darkerGray;
  border-bottom: 1px solid $darkerGray;
  padding: 4px 16px;

  @include mobile {
    border-left: 4px solid $darkerGray;
    padding: 4px 14px;
  }
}

h3 {
  font-size: 20px;

  @include mobile {
    font-size: 18px;
  }
}

.post h3 {
  border-bottom: 1px solid $darkerGray;
  padding: 4px 10px;

  @include mobile {
    padding: 2px 8px;
  }
}

h4 {
  font-size: 18px;

  @include mobile {
    font-size: 16px;
  }
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
}

table th,table td{
  text-align: center;
  width: auto;
  padding: 5px 5px;
  border: 1px $darkerGray solid;
}

table tr:nth-child(even){
  background-color: rgb(248, 248, 248)
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.post, .page_en {
  img {
    border: 1px $lightGray solid;
    padding:4px;
  }
}

code.highlighter-rouge{
  background-color: rgb(238, 238, 238);
  padding: 2px 3px 2px 3px;
  border-radius: 3px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ページごとの指定 */

.page_en {
  h2 {
    // Added
    background-color: #f6f6f6;
    border-left: 6px solid $darkerGray;
    padding: 4px 16px;
  }

  h3 {
    // Added
    border-bottom: 1px solid #ddd;
  }
}

.sitemap {
  h3 {
    // Added
    background-color: #f6f6f6;
    border-left: 6px solid $darkerGray;
    padding: 4px 16px;
  }
}

/* 目次関連 */

.toc label {
  background: $lightGray;
  color: $gray;
  padding: 10px;
  display: block;
  margin: 0;
  border-bottom: 2px solid #fff;
}

.toc ul {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  list-style: none;
  font-size: 90%;
  color: #1e366a;
  padding: 0.1em 0 0.1em 1.0em;
}

.toc li {
  padding: 0.1em 0;
}

.toc input[type="checkbox"].on-off{
  display: none;
}

.toc input[type="checkbox"].on-off + label + ul{
  height: 0;
  overflow: hidden;
}

.toc input[type="checkbox"].on-off:checked + label + ul{
  height: auto;
  background: $lightGray;
}

.toc label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f054';
  padding-right: 8px;
}

.toc input[type="checkbox"].on-off:checked + label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078';
}


/* タグ関連 */
.post-tag ul {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
}
.post-tag ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.post-tag ul li a {
  display: inline-block;
  // max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  // text-overflow: ellipsis;
  // overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.post-tag ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  border-bottom: 2px solid #ddd;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 35px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-family: $helvetica;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}


.link_box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px $gray;
  border-radius: 8px;
}
.link_box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  font-weight: bold;
}
.link_box p {
  margin: 0; 
  padding: 0;
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    //margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0 1em;
    color: $gray;
    font-size: 15px;
    font-style: italic;

    @include mobile {
      font-size: 13px;
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-family: $helvetica;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-family: $helvetica;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
