---
layout: default
---

<article class="post">
  <div class="date_front">
    <i class="far fa-calendar-alt" style="padding: 0 2px 0 0;"></i>
    {{ page.date | date: "%F" }}

    {% if page.last_modified_at %}
      <i class="fas fa-redo-alt" style="padding: 0 2px 0 10px;"></i>
      {{ page.last_modified_at | date: "%F" }}
    {% endif %}

  </div>
  <h1>{{ page.title }}</h1>

  <div class="post-tag">
    {% include post_meta.html %}
  </div>

  <div class="toc">
    <input type="checkbox" id="toc_lb" class="on-off" />
    <label for="toc_lb">目次</label>
    {% include toc.html html=content sanitize=true %}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <!--
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  -->

  {% include share_button.html %}
  <br />

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- フッター1 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-1838422896597988"
      data-ad-slot="4583840862"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {% include disqus.html %}
  {% include mathjax.html %}
</article>
